#portfolioHeader {
  max-height: 65px;

    .owner-img {
        width: 150px;  /* Adjust as needed */
        height: auto;
        overflow: hidden;  /* Hide cropped parts */
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .owner-img img {
        width: 100%;   /* Stretch width to cover */
        height: 100%;
        object-fit: cover;  /* Crop instead of stretch */
      }
}