<section class="page_404">
	<div class="container">
		<div class="row">	
		<div class="col-sm-12 ">
		<div class="col-sm-10 col-sm-offset-1  text-center">
		<div class="four_zero_four_bg">
			<h1 class="text-center ">404</h1>
		
		
		</div>
		
		<div class="contant_box_404">
		<h3 class="h2">
			To be honest, you aren’t lost.
		</h3>
		
		<p>The page you are looking for is on its way. Please be patient!</p>
		
		<a href="/" class="link_404">Head back?</a>
	</div>
		</div>
		</div>
		</div>
	</div>
</section>