<div class="row justify-content-center align-items-center boxed-home m-b--30">
  <div class="col-6 m-l--30">
    <mat-card>
      <mat-card-content class="mat-mdc-card-content text-center"><img width="100" class="rounded-circle border p-5"
          src="assets/images/pics/Avatar.png">
        <div class="d-flex flex-col gap-20 m-t-16">
          <div>
            <h4 mat-card-title="" class="mat-mdc-card-title"> Nguyễn Quang Trung </h4>
            <span class="f-s-12">Java Software Developer</span>
          </div>
        </div>
        <div class="d-flex flex-col gap-10 m-t-16">
          <span class="f-s-14"> No. 73B, Hưng Đạo Vương Str., Quarter 11, Trung Dũng Ward, Biên Hòa, Đồng Nai</span>
          <span class="f-s-14"> Email: trungnq512.it</span>
          <span class="f-s-14"> Mobile: (+84) 352 659 099</span>
        </div>
      </mat-card-content>
      <mat-divider />
      <div class="row social-bar">
        <div class="col-3"></div>
        <div class="col-2 p-y-12">
          <a href="https://www.facebook.com/NgQuTrung0512"
            class="text-decoration-none f-s-14 f-w-500 d-flex justify-content-center align-items-center">
            <i-tabler name="brand-facebook" class="icon-18 d-flex" />
          </a>
        </div>
        <div class="col-2 p-y-12">
          <a href="https://www.linkedin.com/in/trung-nguy%E1%BB%85n-3aaa20150/"
            class="text-decoration-none f-s-14 f-w-500 d-flex justify-content-center align-items-center">
            <i-tabler name="brand-linkedin" class="icon-18 d-flex" />
          </a>
        </div>
        <div class="col-2 p-y-12">
          <a href="https://www.instagram.com/toddie_nguyen/"
            class="text-decoration-none f-s-14 f-w-500 d-flex justify-content-center align-items-center">
            <i-tabler name="brand-instagram" class="icon-18 d-flex" />
          </a>
        </div>
        <div class="col-3"></div>
      </div>
    </mat-card>
  </div>

  <div class="col-6 ">
    <mat-card class="shadow-none">
      <mat-card-content>
        <div class="d-flex flex-col gap-20 m-t-14">
          <div class="gap-10">
            <h1 class="f-s-60 lh-lg">HELLO</h1>
            <h2>Here's who I am & what I do</h2>
          </div>
          <div class="row justify-content-center align-items-center gap-20">
            <a class="bg-dark text-white d-flex align-items-center gap-4 m-x-10" mat-button href="./resume">
              <div class="d-flex align-items-center gap-6">
                <i-tabler name="file-cv" class="icon-20 d-flex" />
                Resume
              </div>
            </a>
            <a class="bg-dark text-white d-flex align-items-center gap-4 m-x-10" mat-button href="./projects">
              <div class="d-flex align-items-center gap-6">
                <i-tabler name="brand-github" class="icon-20 d-flex" />
                Projects
              </div>
            </a>
          </div>

          <div class="lh-sm">
            <p> I'm Nguyen Quang Trung, a Java Developer with 4+ years of experience in backend development and system
              design. </p>
            <p> After completing my military service, where I honed my data analysis and coordination skills, I'm eager
              to tackle new challenges and contribute to impactful projects.</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
